<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <main>
        <section class="form">
            <form id="form-box" onsubmit="return handleSubmit(event)">
                <div class="input-container">
                    <label for="input" class="label">Find an online article to perform a sentiment analysis on </label>
                    <input type="text" id="name" name="input" required="" placeholder="Enter the URL">
                    <div class="underline"></div>
                </div>
                <input class="button" type="submit" value="SUBMIT" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
        </section>
        <section class="result">
            <strong>Results:</strong>
            <span class="loader" id="loader"></span>
            <div id="results">
                <!-- ! style this better -->
                 <h3>Polarity</h3>
                <div id="polarity"></div>
                <h3>Subjectivity</h3>
                <div id="subjectivity"></div>
                <h3>Key Parts</h3>
                <div id="content"></div>
            </div>
        </section>
    </main>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>