<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
        
        
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>


        <main>
            <section>
                <form id="form-box" onsubmit="return handleSubmit(event)">
                    <div class="input-container">
                        <input type="text" id="name" name="input" required="">
                        <label for="input" class="label">Enter the URL of the article you would like a Sentiment Analysis for:</label>
                        <div class="underline"></div>
                      </div>

                    <input class="button" type="submit" value="SUBMIT" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="mockAPI"></div>
                <div id="results">
                    <div id="polarity"></div> 
                    <div id="subjectivity"></div> 
                    <div id="content"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
